
.topo{
    display: flex;
    width: 1200px;
    height: auto;
}
.nome{
    display: flex;
    font-size: 45px;
    width: auto;
    height: 100px;
    align-items: center;
}
.contato{
    background-color: aqua;
    border: 2px solid black;
    width: 350px;
    height: auto;
    font-size: 25px;
    justify-content: center;
}
.profissao{
    width: 350px;
    font-size: 30px;
    height: auto;
    align-items: center;
    margin-left: 10px;
}
.corpo{
    display: flex;
    align-items: top;
    width: 780px;
    height: auto;
    font-size: 20px;
    justify-content: space-around;
}
.sobCorpo{
    flex-direction: column;
}
.sobre{
    border: 2px solid black;
    width: 400px;
    justify-content: flex-end;
    text-align: justify;
    right: 100px;
}
.certificado{
    border: 2px solid black;
    justify-content: center;
    width: 350px;
    height: auto;
    margin-top: 10px;
    margin-left: 5px;
}
hr{
    background-color: black;
    height: 2px;
}
img{
    height: 65px;
}
.txt{
    font-size: 20px;
}