
.topo{
    display: flex;
    width: 1200px;
    height: auto;
}
.nome{
    display: flex;
    background-color: aqua;
    font-size: 45px;
    width: auto;
    height: 100px;
    align-items: center;
}
.contato{
    background-color: aqua;
    border-radius: 2px;
    width: 350px;
    height: auto;
    font-size: 25px;
    justify-content: center;
}
.profissao{
    width: 350px;
    background-color:blue;
    font-size: 30px;
    
}
.corpo{
    background-color: yellowgreen;
    display: flex;
    align-items: top;
    width: 780px;
    height: auto;
    font-size: 20px;
    justify-content: space-around;
}
.sobre{
    background-color: blue;
    width: 400px;
    justify-content: flex-end;
    text-align: justify;
    right: 100px;
}
hr{
    background-color: black;
    height: 2px;
}
img{
    height: 65px;
}
